
$RECYCLE.BIN/
vendor/
private/
node_modules/
logs/
.VSCodeCounter/
phploc.csv
public/uploads

*.env
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

[Dd]esktop.ini

*.lnk
.fuse_hidden*
.DS_Store
.AppleDouble
.LSOverride
._*
